<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title">Create League</h1>
                <form [formGroup]="form" (ngSubmit)="create(form.value)">
                    <label class="label">Name</label>
                    <p class="control has-icon has-icon-right">
                        <input formControlName="name" class="input" type="text">
                    </p>
                    <p class="control">
                        <label class="checkbox">
                            <input formControlName="public" type="checkbox">
                            Public
                        </label>
                    </p>
                    <button type="submit" class="button is-primary" [disabled]="!form.valid">Create</button>
                </form>
            </div>
        </div>
    </div>
</section>