<section *ngIf="league" class="section">
    <div class="container">
        <h1 class="title">{{league.name}}</h1>
        <div class="columns">
            <div class="column">
                Owner: {{league.ownerId}}
                <br> Public: {{league.public}}
                <br>
                <h4 class="title">Teams</h4>
                <div *ngFor="let team of league.teams">
                    {{team}}
                    &nbsp;<b *ngIf="league.ownerId === team">OWNER</b>
                </div>
                <br>
                <h4 class="title">Seasons</h4>
                <ng-container *ngIf="seasons">
                    <div *ngFor="let season of seasons">{{season}}</div>
                </ng-container>
                <br>
                <button *ngIf="acc.loggedInAccount.team && league.teams.indexOf(acc.loggedInAccount.team._id) === -1" (click)="enroll(league._id)" class="button is-primary">Enroll</button>
            </div>
        </div>
    </div>
</section>