<section *ngIf="league" class="section">
    <div class="container">
        <h1 class="title">{{league.name}}</h1>
        <div class="columns">
            <div class="column">
                Owner: {{league.ownerId}}
                <br> Public: {{league.public}}
                <br>
                <h4 class="title">Teams</h4>
                <div *ngFor="let team of teams">
                    {{team.name}} &nbsp;
                    <b *ngIf="league.ownerId === team.id">OWNER</b>
                </div>
                <br>
                <h4 class="title">Seasons</h4>
                <ng-container *ngIf="seasons">
                    <div *ngFor="let season of seasons">{{season}}</div>
                </ng-container>
                <br>
                <ng-container *ngIf="acc.team">
                    <button *ngIf="!teams || teams.indexOf(acc.team.id) === -1" (click)="enroll(league.id)" class="button is-primary">Enroll</button>
                    <button *ngIf="acc.team.id === league.ownerId" (click)="generateSeason()" class="button is-primary">Generate Season</button>
                </ng-container>
            </div>
        </div>
    </div>
</section>