<ng-container *ngIf="acc.loggedInAccount.leagues">
    <h1 class="title">Enrolled Leagues</h1>
    <section *ngFor="let league of acc.loggedInAccount.leagues" class="section">
        <div class="container">
            <h1 class="title">League</h1>
            <div class="columns">
                <div class="column">
                    {{league.name}}
                </div>
            </div>
        </div>
    </section>
</ng-container>
<hr>
<ng-container *ngIf="allLeagues">
    <h1 class="title">All Leagues</h1>
    <section *ngFor="let league of allLeagues" class="section">
        <div class="container">
            <h1 class="title">League</h1>
            <div class="columns">
                <div class="column">
                    {{league.name}}
                    <button (click)="enroll(league._id)">Enroll</button>
                </div>
            </div>
        </div>
    </section>
</ng-container>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <input [(ngModel)]="newLeague.name" type="text">
                <input [(ngModel)]="newLeague.public" type="checkbox">
                    <button (click)="create(newLeague.public, newLeague.name)">Create</button>
            </div>
        </div>
    </div>
</section>