<section *ngIf="enrolledLeagues" class="section">
    <div class="container">
        <h1 class="title is-1">Leagues</h1>
        <h2 class="title is-2">Enrolled Leagues</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Public</th>
                    <th>Owner</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let league of enrolledLeagues">
                    <td>{{league.name}}</td>
                    <td>{{league.public || 'false'}}</td>
                    <td>{{league.ownerName || league.ownerId}}</td>
                    <td style="text-align: right;"><button (click)="view(league.id)" class="button is-primary">View</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section *ngIf="allLeagues" class="section">
    <div class="container">
        <h2 class="title is-2">All Leagues</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Public</th>
                    <th>Owner</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let league of allLeagues">
                    <td>{{league.name}}</td>
                    <td>{{league.public || 'false'}}</td>
                    <td>{{league.ownerName || league.ownerId}}</td>
                    <td style="text-align: right;"><button (click)="view(league.id)" class="button is-primary">View</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>