<section class="section">
    <div class="container">
        <h1 class="title">Signup</h1>
        <div class="columns">
            <div class="column is-12">
                <label class="label">Username</label>
                <p class="control has-icon has-icon-right">
                    <input [(ngModel)]="user.username" class="input" type="text" placeholder="enter a username" id="username" maxlength="20">
                </p>
                <label class="label">Email</label>
                <p class="control has-icon has-icon-right">
                    <input [(ngModel)]="user.email" class="input" type="email" placeholder="enter a email" id="email" maxlength="40">
                </p>
                <label class="label">Password</label>
                <p class="control has-icon has-icon-right">
                    <input [(ngModel)]="user.password" class="input" type="password" placeholder="enter a password" id="password" maxlength="40">
                </p>
                <label class="label">Confirm Password</label>
                <p class="control has-icon has-icon-right">
                    <input [(ngModel)]="user.passwordconf" class="input" type="password" placeholder="confirm password" id="passwordconf" maxlength="40">
                </p>
                <h3 class="title">Team Details</h3>
                <label class="label">Acronym</label>
                <p class="control has-icon has-icon-right">
                    <input [(ngModel)]="team.acronym" class="input" type="text" placeholder="e.g. ADEL" id="acronym" maxlength="4">
                </p>
                <label class="label">Name</label>
                <p class="control has-icon has-icon-right">
                    <input [(ngModel)]="team.name" class="input" type="text" placeholder="enter a team name" id="teamName" maxlength="20">
                </p>
                <input class="button is-primary" (click)="onClickSubmit()" type="button" value="Submit">
                <input class="button" (click)="this.router.navigate(['/home'])" type="button" value="Cancel">
            </div>
        </div>
    </div>
</section>