<div class="container">
    <form>
        <h3>Account Details</h3>
        <div class="row">
            <div class="six columns">
                <label for="username">Username AC</label>
                <input class="u-full-width" type="text" placeholder="enter a username" id="username">
            </div>
            <div class="six columns">
                <label for="email">Email AC</label>
                <input class="u-full-width" type="email" placeholder="enter a email" id="email">
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="password">Password</label>
                <input class="u-full-width" type="password" id="password">
            </div>
            <div class="six columns">
                <label for="passwordconf">Confirm Password</label>
                <input class="u-full-width" type="password" id="passwordconf">
            </div>
        </div>
        <hr>
        <h3>Team Details</h3>
        <div class="row">
            <div class="four columns">
                <label for="teamAcronym">Acronym AC</label>
                <input class="u-full-width" type="text" placeholder="e.g. ADEL" maxlength="4" id="teamAcronym">
            </div>
            <div class="eight columns">
                <label for="teamName">Team Name</label>
                <input class="u-full-width" type="text" placeholder="enter a team name" id="teamName">
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                <label for="teamCol1">Color 1</label>
                <select class="u-full-width" id="teamCol1">
                    <option value="red">red</option>
                    <option value="green">green</option>
                    <option value="blue">blue</option>
                    <option value="orange">orange</option>
                    <option value="gray">gray</option>
                    <option value="pink">pink</option>
                    <option value="teal">teal</option>
                    <option value="lightgreen">lightgreen</option>
                    <option value="lightblue">lightblue</option>
                </select>
                <label for="teamCol2">Color 2</label>
                <select class="u-full-width" id="teamCol2">
                    <option value="red">red</option>
                    <option value="green">green</option>
                    <option value="blue">blue</option>
                    <option value="orange">orange</option>
                    <option value="gray">gray</option>
                    <option value="pink">pink</option>
                    <option value="teal">teal</option>
                    <option value="lightgreen">lightgreen</option>
                    <option value="lightblue">lightblue</option>
                </select>
                <label for="teamCol3">Color 3</label>
                <select class="u-full-width" id="teamCol3">
                    <option value="red">red</option>
                    <option value="green">green</option>
                    <option value="blue">blue</option>
                    <option value="orange">orange</option>
                    <option value="gray">gray</option>
                    <option value="pink">pink</option>
                    <option value="teal">teal</option>
                    <option value="lightgreen">lightgreen</option>
                    <option value="lightblue">lightblue</option>
                </select>
            </div>
            <div class="eight columns">
                <div class="team-preview">Preview of team guernsey</div>
            </div>
        </div>
        <input class="button-primary" type="submit" value="Submit">
        <input class="button" type="button" value="Cancel">
    </form>
</div>