<bloodrush-my-team-nav></bloodrush-my-team-nav>
<section *ngIf="players" class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h3 class="title is-3">Team{{players.length}}</h3>
                <table class="table is-striped is-narrow content">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>ATK</td>
                            <td>DEF</td>
                            <td>SPD</td>
                            <td>WEI</td>
                            <td>REC</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tr *ngFor="let player of players; let i = index;">
                        <ng-container *ngIf="i < 8">
                            <td>{{player.first}} {{player.last}}</td>
                            <td>{{player.atk}}</td>
                            <td>{{player.def}}</td>
                            <td>{{player.spd}}</td>
                            <td>{{player.kg}}kg</td>
                            <td>{{player.rec}}%</td>
                            <td>
                                <span (click)="moveTo(i, i - 1)" class="fa fa-arrow-circle-up"></span>
                                <span (click)="moveTo(i, i + 1)" class="fa fa-arrow-circle-down"></span>
                                <span (click)="openSellModal(player)" class="fa fa-shopping-basket"></span>
                            </td>
                        </ng-container>
                    </tr>
                </table>
                <h3 class="title is-3">Subs</h3>
                <table class="table is-striped is-narrow">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>ATK</td>
                            <td>DEF</td>
                            <td>SPD</td>
                            <td>WEI</td>
                            <td>REC</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tr *ngFor="let player of players; let i = index;">
                        <ng-container *ngIf="i >= 8 && i < 12">
                            <td>{{player.first}} {{player.last}}</td>
                            <td>{{player.atk}}</td>
                            <td>{{player.def}}</td>
                            <td>{{player.spd}}</td>
                            <td>{{player.kg}}kg</td>
                            <td>{{player.rec}}%</td>
                            <td>
                                <span (click)="moveTo(i, i - 1)" class="fa fa-arrow-circle-up"></span>
                                <span (click)="moveTo(i, i + 1)" class="fa fa-arrow-circle-down"></span>
                                <span (click)="openSellModal(player)" class="fa fa-shopping-basket"></span>
                            </td>
                        </ng-container>
                    </tr>
                </table>
                <h3 class="title is-3">Other</h3>
                <table class="table is-striped is-narrow">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>ATK</td>
                            <td>DEF</td>
                            <td>SPD</td>
                            <td>WEI</td>
                            <td>REC</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tr *ngFor="let player of players; let i = index;">
                        <ng-container *ngIf="i >= 12">
                            <td>{{player.first}} {{player.last}}</td>
                            <td>{{player.atk}}</td>
                            <td>{{player.def}}</td>
                            <td>{{player.spd}}</td>
                            <td>{{player.kg}}kg</td>
                            <td>{{player.rec}}%</td>
                            <td>
                                <span (click)="moveTo(i, i - 1)" class="fa fa-arrow-circle-up"></span>
                                <span (click)="moveTo(i, i + 1)" class="fa fa-arrow-circle-down"></span>
                                <span (click)="openSellModal(player)" class="fa fa-shopping-basket"></span>
                            </td>
                        </ng-container>
                    </tr>
                </table>
            </div>
        </div>
        <button (click)="saveTeam()" class="button is-primary">Save</button>
    </div>
</section>
<div class="modal" [ngClass]="{'is-active': modalPlayer}" *ngIf="modalPlayer">
    <div class="modal-background"></div>
    <div class="modal-card">
        <form [formGroup]="modalSellForm">
            <header class="modal-card-head">
                <p class="modal-card-title">Sell {{modalPlayer.first}} {{modalPlayer.last}}</p>
                <button (click)="modalPlayer = null" class="delete"></button>
            </header>
            <section class="modal-card-body">
                <label class="label">Price</label>
                <p class="control">
                    <input formControlName="askingPrice" class="input" type="number" placeholder="enter asking price">
                </p>
                <bloodrush-player-info [player]="modalPlayer"></bloodrush-player-info>
            </section>
            <footer class="modal-card-foot">
                    <button class="button is-success" [disabled]="!modalSellForm.valid">Place On Market{{!modalSellForm.valid}}</button>
                <button class="button is-success">Sell For $20</button>
            </footer>
        </form>
    </div>
</div>