<bloodrush-my-team-nav></bloodrush-my-team-nav>
<section *ngIf="players" class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h3 class="title is-3">Team</h3>
                <table *ngIf="players.length > 0" class="table is-striped is-narrow content">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>ATK</td>
                            <td>DEF</td>
                            <td>SPD</td>
                            <td>WEI</td>
                            <td>REC</td>
                            <td></td>
                        </tr>
                    </thead>
                    <ng-container *ngFor="let player of players; let i = index;">
                        <tr *ngIf="player" [ngClass]="{'player-not-ok': (player.state !== 'ok')}">
                            <ng-container *ngIf="i < 8">
                                <td>
                                    <a href="/players/{{player.id}}">{{player.first}} {{player.last}}</a> &nbsp;
                                    <img style="display: inline;" class="image is-16x16" src="assets/img/stateicons/{{player.state}}.png" /></td>
                                <td>{{player.atk}}</td>
                                <td>{{player.def}}</td>
                                <td>{{player.spd}}</td>
                                <td>{{player.kg}}kg</td>
                                <td>{{player.rec}}%</td>
                                <td class="small">
                                    <span (click)="moveTo(i, i - 1)" class="fa fa-arrow-circle-up"></span>
                                    <span (click)="moveTo(i, i + 1)" class="fa fa-arrow-circle-down"></span>
                                    <span (click)="openSellModal(player)" class="fa fa-shopping-basket"></span>
                                </td>
                            </ng-container>
                        </tr>
                    </ng-container>
                </table>
                <h3 class="title is-3">Subs</h3>
                <table class="table is-striped is-narrow">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>ATK</td>
                            <td>DEF</td>
                            <td>SPD</td>
                            <td>WEI</td>
                            <td>REC</td>
                            <td></td>
                        </tr>
                    </thead>
                    <ng-container *ngFor="let player of players; let i = index;">
                        <tr *ngIf="player" [ngClass]="{'player-not-ok': (player.state !== 'ok')}">
                            <ng-container *ngIf="i >= 8 && i < 12">
                                <td>
                                    <a href="/players/{{player.id}}">{{player.first}} {{player.last}}</a> &nbsp;
                                    <img style="display: inline;" class="image is-16x16" src="assets/img/stateicons/{{player.state}}.png" /></td>
                                <td>{{player.atk}}</td>
                                <td>{{player.def}}</td>
                                <td>{{player.spd}}</td>
                                <td>{{player.kg}}kg</td>
                                <td>{{player.rec}}%</td>
                                <td class="small">
                                    <span (click)="moveTo(i, i - 1)" class="fa fa-arrow-circle-up"></span>
                                    <span (click)="moveTo(i, i + 1)" class="fa fa-arrow-circle-down"></span>
                                    <span (click)="openSellModal(player)" class="fa fa-shopping-basket"></span>
                                </td>
                            </ng-container>
                        </tr>
                    </ng-container>
                </table>
                <h3 class="title is-3">Other</h3>
                <table class="table is-striped is-narrow">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>ATK</td>
                            <td>DEF</td>
                            <td>SPD</td>
                            <td>WEI</td>
                            <td>REC</td>
                            <td></td>
                        </tr>
                    </thead>
                    <ng-container *ngFor="let player of players; let i = index;">
                        <tr *ngIf="player" [ngClass]="{'player-not-ok': (player.state !== 'ok')}">
                            <ng-container *ngIf="i >= 12">
                                <td>
                                    <a href="/players/{{player.id}}">{{player.first}} {{player.last}}</a> &nbsp;
                                    <img style="display: inline;" class="image is-16x16" src="assets/img/stateicons/{{player.state}}.png" /></td>
                                <td>{{player.atk}}</td>
                                <td>{{player.def}}</td>
                                <td>{{player.spd}}</td>
                                <td>{{player.kg}}kg</td>
                                <td>{{player.rec}}%</td>
                                <td class="small">
                                    <span (click)="moveTo(i, i - 1)" class="fa fa-arrow-circle-up"></span>
                                    <span (click)="moveTo(i, i + 1)" class="fa fa-arrow-circle-down"></span>
                                    <span (click)="openSellModal(player)" class="fa fa-shopping-basket"></span>
                                </td>
                            </ng-container>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>
        <button (click)="saveTeam()" class="button is-primary">Save</button>
    </div>
</section>
<div class="modal" [ngClass]="{'is-active': modalPlayer}" *ngIf="modalPlayer">
    <div class="modal-background"></div>
    <div class="modal-card">
        <form [formGroup]="modalSellForm" (ngSubmit)="placeOnMarket(modalSellForm.value)">
            <header class="modal-card-head">
                <p class="modal-card-title">Sell {{modalPlayer.first}} {{modalPlayer.last}}</p>
                <button type="button" (click)="modalPlayer = null" class="delete"></button>
            </header>
            <section class="modal-card-body">
                <label class="label">Price</label>
                <p class="control">
                    <input formControlName="askingPrice" class="input" type="number" placeholder="enter asking price">
                </p>
                <bloodrush-player-card [player]="modalPlayer"></bloodrush-player-card>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" type="button" (click)="placeOnMarket(modalSellForm.value)" [disabled]="!modalSellForm.valid">Place On Market</button>
                <button type="submit" class="button is-success">Sell For $20</button>
            </footer>
        </form>
    </div>
</div>