<section class="section">
    <div class="container">
        <h1 class="title">About</h1>
        <div class="columns">
            <div class="column is-12">
                The idea for bloodrush was first developed in 2013 and created as a private html5 game amonsgst friends and colleagues. 
                After several months however, the server suffered a catastrophic hardware failure and much information and code was lost. It wasn't until several years later in 2017 when I had asked the 
                creator of Bloodrush v1 for permission to recreate the concept. Work began on creating Bloodrush v2 from scratch in early January with a closed beta later on in the month.
                <br>
                <br>
                Caleb Froese
            </div>
        </div>
    </div>
</section>