<section class="section">
    <div class="container">
        <h1 class="title is-1">About</h1>
        <div class="columns">
            <div class="column is-12">
                <h2 class="title is-2">Origin</h2>
                The idea for bloodrush was first developed in 2013 and created as a private html5 game amonsgst friends and colleagues. After
                several months however, the server suffered a catastrophic hardware failure and much information and code
                was lost. It wasn't until several years\ later in 2017 when I had asked the creator of Bloodrush 1.0 for permission
                to recreate the concept. Work began on creating Bloodrush 2.0 from scratch in early January with a closed
                beta later on in the month.
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <h2 class="title is-2">Overview</h2>
                Bloodrush is a non-demanding real time social team management game. The idea is that it is a game great for busy people who
                don't have time to sit and play MMOs, MOBAs, etc. In Bloodrush, you manage your team and players in a competitive
                league against friends. Players have attack, defence, and speed as main attributes which affect the gameplay
                on the field. It's up to the teams to find the best strategy in terms of player placement. These games can
                however result in serious player injuries and even deaths, so don't get too attached to these poorly drawn
                figures!<br> A big part of bloodrush is the customizability of your team. You can create
                and use a custom team logo, team uniform, and even an anthem to play after a game victory. Leagues can be
                created after a certain amount of team experience, and users may create their own private or public leagues
                for others to join. Games are generated daily, in the timezone of the league owner in a round robin fashion.
            </div>
        </div>
        <!--<div class="columns">
            <div class="column is-12">
                <h2 class="title is-2">Roadmap</h2>
                Some of the awesome future plans for Bloodrush include (but are not guaranteed to ever happen):
                <ol>
                    <li type="disc">
                        Player attributes and badges
                    </li>
                    <li type="disc">
                        Player attributes and badges
                    </li>
                    <li type="disc">
                        Team stadiums
                    </li>
                </ol>
            </div>
        </div>-->
    </div>
</section>