<!--<bloodrush-ladder *ngIf="season"></bloodrush-ladder>-->
<section *ngIf="season" class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title">Games</h2>
                <hr>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Round</th>
                            <th>Home</th>
                            <th></th>
                            <th>Away</th>
                            <th>Date</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let game of games; let i = index">
                            <tr routerLink="/seasons/{{season.id}}/{{i}}">
                                <td class="small">{{game.round}}</td>
                                <td>
                                    <figure class="image is-32x32 team-icon-parent team-icon">
                                        <img *ngIf="game.away.hasImg === true && game.away.id" src="{{config[envName].imgUrl}}teamlogos/{{game.away.id}}.png" class="team-icon">
                                        <img *ngIf="!game.away.id" src="{{config[envName].imgUrl}}teamlogos/bye.png" class="team-icon">
                                        <img *ngIf="game.away.hasImg !== true && game.away.id" src="{{config[envName].imgUrl}}teamlogos/default.png" class="team-icon">
                                    </figure>{{game.away.name}}
                                </td>
                                <td class="small">@</td>
                                <td>
                                    <figure class="image is-32x32 team-icon-parent team-icon">
                                        <img *ngIf="game.home.hasImg === true && game.home.id" src="{{config[envName].imgUrl}}teamlogos/{{game.home.id}}.png" class="team-icon">
                                        <img *ngIf="!game.home.id" src="{{config[envName].imgUrl}}teamlogos/bye.png" class="team-icon">
                                        <img *ngIf="game.home.hasImg !== true && game.home.id" src="{{config[envName].imgUrl}}teamlogos/default.png" class="team-icon">
                                    </figure>{{game.home.name}}
                                </td>
                                <td>{{momentify(game.date)}}</td>
                                <td>
                                    <ng-container *ngIf="game.data.live">
                                        {{game.data.live.homeScore}} &nbsp;-
                                        &nbsp; {{game.data.live.awayScore}}&nbsp;
                                        <ng-container *ngIf="game.data.live.isLive"><span class="tag is-danger is-medium">QTR {{game.data.live.quarter}}</span></ng-container>
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>