<ng-container *ngIf="season && league">
    <bloodrush-ladder [league]="league" [season]="season"></bloodrush-ladder>
</ng-container>
<section *ngIf="season" class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title is-2">Games</h2>
                <hr>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Round</th>
                            <th>Away</th>
                            <th></th>
                            <th>Home</th>
                            <th>Date</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let game of games | gamePipe">
                            <tr routerLink="/seasons/{{season.id}}/games/{{game.id}}">
                                <td class="small">{{(game.tag !== 'regular') ? game.tag : game.round}}</td>
                                <td>
                                    <figure class="image is-32x32 team-icon-parent team-icon">
                                        <img src="{{config[envName].imgUrl}}teamlogos/{{game.awayId || 'bye'}}.png" onError="this.src='/assets/img/logo.png';" class="team-icon">
                                    </figure>
                                    {{teams[game.awayId] ? teams[game.awayId].name : 'Bye'}}
                                </td>
                                <td class="small">@</td>
                                <td>
                                    <figure class="image is-32x32 team-icon-parent team-icon">
                                        <img src="{{config[envName].imgUrl}}teamlogos/{{game.homeId || 'bye'}}.png" onError="this.src='/assets/img/logo.png';" class="team-icon">
                                    </figure>
                                    {{teams[game.homeId] ? teams[game.homeId].name : 'Bye'}}
                                </td>
                                <td>{{momentify(game.date)}}</td>
                                <td>
                                    <ng-container *ngIf="game.data.live">
                                        {{game.data.live.awayScore}} &nbsp;-
                                        &nbsp; {{game.data.live.homeScore}}&nbsp;
                                        <ng-container *ngIf="game.data.live.isLive"><span class="tag is-danger is-medium">QTR {{game.data.live.quarter}}</span></ng-container>
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>