<section *ngIf="season" class="section">
    <div class="container">
        <h1 class="title">Season {{season.number}}</h1>
        <div class="columns">
            <div class="column">
                <h2 class="title">Games</h2>
                <div *ngFor="let game of season.games" class="box">
                    {{game.home.name}} vs {{game.away.name}}
                </div>
            </div>
            <div class="column">
                <h2 class="title">Ladder</h2>
            </div>
        </div>
    </div>
</section>