<bloodrush-my-team-nav></bloodrush-my-team-nav>
<section *ngIf="players" class="section">
    <div class="container">
        <h1 class="title is-1">Training Facility</h1>
        <div class="columns">
            <div class="column">
                <h3 class="title is-3">About</h3>
                The training facility exists to improve your player stats. It will generally improve player attack, defence, and speed.
                <h4 class="title is-4">Advanced</h4>
                Advanced training cost <span class="icon"><i class="fa fa-money"></i></span> {{adv}} and will take 7 days. Maximum stat gain: 17.
                <h4 class="title is-4">Basic</h4>
                Basic training cost <span class="icon"><i class="fa fa-money"></i></span> {{basic}} and will take 2 days. Maximum stat gain: 4.
            </div>
            <div class="column">
                <h3 class="title is-3">In Training</h3>
                <div *ngFor="let player of players">
                    <ng-container *ngIf="player.state == 'training'">
                        <a routerLink="/players/{{player.id}}">{{player.first}} {{player.last}}</a> completed {{momentify(player.stateEnds)}}
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <h3 class="title is-3">Trainable Players</h3>
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>ATK</th>
                            <th>DEF</th>
                            <th>SPD</th>
                            <th>KG</th>
                            <th>REC</th>
                            <th>Train</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let player of players">
                            <ng-container *ngIf="player?.state === 'ok'">
                                <tr>
                                    <td><a routerLink="/players/{{player.id}}">{{player.first}} {{player.last}}</a>
                                        <img style="display: inline;" class="image is-16x16" src="assets/img/stateicons/{{player.state}}.png" />
                                    </td>
                                    <td>{{player.atk}}</td>
                                    <td>{{player.def}}</td>
                                    <td>{{player.spd}}</td>
                                    <td>{{player.kg}}</td>
                                    <td>{{player.rec}}</td>
                                    <td>
                                        <button class="button" (click)="basicTraining(player)">
                                            Basic Training
                                        </button>
                                        <button class="button" (click)="advancedTraining(player)">
                                            Advanced Training
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>