<div class="container" *ngIf="game">
    <div *ngIf="isBye && game" class="row">
        <div class="twelve columns">
            <h4>{{game[nonByeTeam].name}} has a bye</h4>
            Round: #{{game.round}}
            <br> Date: {{game.date | date}}
        </div>
    </div>
    <div *ngIf="!isBye && game['home'] && game['away']" class="row">
        <div class="twelve columns">
            <h4>{{game['home'].name}} vs {{game['away'].name}}</h4>
            Round: #{{game.round}}
            <br> Date: {{game.date | date}}
            <br>
            <button (click)="playGame()">Play Game</button>
            <canvas #gameCanvas [attr.width]='canvasSize' [attr.height]='canvasSize'></canvas>
        </div>
    </div>
</div>