<!--Chat icon-->
<a *ngIf="!shown" (click)="showChat()" class="chat-icon">
    <span class="icon is-large"><i class="fa fa-comments-o"></i></span>
</a>
<article *ngIf="shown" class="message is-info">
    <div class="message-header">
        <select [(ngModel)]="leagueId"><option *ngFor="let league of this.acc.leagues" [value]="league.id">{{league.name}}</option></select>
        Chat
        <button (click)="shown = false" class="delete"></button>
    </div>
    <div class="message-body">
        <p *ngFor="let chat of chats">
            <a routerLink="/teams/{{chat.ownerId}}">{{chat.owner?.name}}</a>:&nbsp; {{chat.message}}
        </p>
    </div>
    <form [formGroup]="form" (ngSubmit)="send(form.value)">
        <p class="control has-addons">
            <input formControlName="message" class="input is-expanded" type="text">
            <button type="submit" [disabled]="!form.valid" class="button">Send</button>
        </p>
    </form>
</article>