<!--Chat icon-->
<a *ngIf="!shown" (click)="shown = true">
    <span class="icon is-large"><i class="fa fa-comments-o"></i></span>
</a>
<article *ngIf="shown" class="message is-info">
    <div class="message-header">
        <p>League Chat</p>
        <button (click)="shown = false" class="delete"></button>
    </div>
    <div class="message-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat
        ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a>        efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor
        urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
    </div>
    <p class="control has-addons">
        <input class="input is-expanded" type="text">
        <a class="button">Send</a>
    </p>
</article>