:host {
    bottom: 0;
    right: 0;
    position: fixed;
    max-width: calc(100% - 20px);
    margin: 10px;
    overflow: hidden;
}

.chat-icon {
    float: right;
}

.control {
    margin: 0;
}

.message-body {
    max-height: 300px;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
}