<section class="section">
    <h1 class="title is-1">Market</h1>
    <span class="icon is-large">
                    <i class="fa fa-money"></i>
                </span>&nbsp;&nbsp;<font class="title is-3">{{acc.team.money}}</font>
                <hr>
    <div *ngIf="myPlayers && myPlayers.length > 0" class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title is-4">My Listings</h2>
                <bloodrush-market-listings (viewPlayer)="viewPlayer($event)" [players]="myPlayers" [isMine]="true"></bloodrush-market-listings>
            </div>
        </div>
    </div>
    <div *ngIf="players && players.length > 0" class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title is-4">Public Listings</h2>
                <bloodrush-market-listings (viewPlayer)="viewPlayer($event)" [players]="players"></bloodrush-market-listings>
            </div>
        </div>
    </div>
</section>
<div class="modal" [ngClass]="{'is-active': modalPlayer}" *ngIf="modalPlayer">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{modalPlayer.first}} {{modalPlayer.last}}</p>
            <button (click)="modalPlayer = null" class="delete"></button>
        </header>
        <section class="modal-card-body">
            <bloodrush-player-info [player]="modalPlayer"></bloodrush-player-info>
        </section>
        <footer class="modal-card-foot">
            <button (click)="purchasePlayer(modalPlayer)" [disabled]="(acc.team.money < modalPlayer.askingPrice)" class="button is-success">Purchase</button>
            <h2 class="title is-2"><span class="icon is-large">
                    <i class="fa fa-money"></i>
                </span> {{modalPlayer.askingPrice}}</h2>
        </footer>
    </div>
</div>