<table class="table" *ngIf="players">
    <thead>
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Date Listed</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of players">
            <td>{{player.first}} {{player.last}}</td>
            <td>
                <span class="icon">
                    <i class="fa fa-money"></i>
                </span> {{player.askingPrice}}
            </td>
            <td>{{mockTime}}</td>
            <td>
                <button *ngIf="isMine" (click)="cancelSale.emit(player)" class="button listing-button is-light">
                    <span class="icon">
                        <i class="fa fa-close"></i>
                    </span>
                </button>
                <button (click)="viewPlayer.emit(player)" class="button listing-button is-light">
                    <span class="icon">
                        <i class="fa fa-info"></i>
                    </span>
                </button>
            </td>
        </tr>
    </tbody>
</table>