<section class="section">
    <h1 class="title is-1">Market</h1>
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title is-4">My Listings</h2>
                <bloodrush-market-listings [players]="players" [isMine]="true"></bloodrush-market-listings>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column">
                <h2 class="title is-4">Public Listings</h2>
                <bloodrush-market-listings [players]="players"></bloodrush-market-listings>
            </div>
        </div>
    </div>
</section>