<section *ngIf="acc.loggedInAccount.team" class="hero is-primary is-small">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{acc.loggedInAccount.team.name}}</h1>
            <h2 class="subtitle">{{acc.loggedInAccount.team._id}}</h2>
        </div>
    </div>
    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
        <nav class="tabs">
            <div class="container">
                <ul>
                    <li><a routerLink="/home/team">Overview</a></li>
                    <li><a routerLink="/home/team/players">Players</a></li>
                    <li><a routerLink="/home/team/team">Team</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="title">Team</h1>
        <div class="columns">
            <div class="column">
                <hr>
                <label class="label">Logo</label>
                <p class="control">
                    <input type="file" ngFileSelect [options]="options" (onUpload)="handleUpload($event)" (beforeUpload)="beforeUpload($event)">
                </p>
                <h3 class="title">Team Details</h3>
                <label class="label">Acronym</label>
                <p class="control has-icon has-icon-right">
                    <input [(ngModel)]="acc.loggedInAccount.team.acronym" class="input" type="text" placeholder="e.g. ADEL" id="acronym" maxlength="4">
                </p>
                <label class="label">Name</label>
                <p class="control has-icon has-icon-right">
                    <input [(ngModel)]="acc.loggedInAccount.team.name" class="input" type="text" placeholder="enter a team name" id="teamName"
                        maxlength="20">
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h4 class="title">Players</h4>
        <div class="columns">
            <div class="column">
                <canvas #playerPreviewCanvas class="player-preview"></canvas>
            </div>
            <div class="column is-two-thirds">
                <div #colorPreview class="picker-color"></div>
                <div class="control is-horizontal">
                    <div class="control-label">
                        <label class="label">Red {{picker.r}}</label>
                    </div>
                    <div class="control is-grouped">
                        <p class="control is-expanded">
                            <input (change)="colorChange()" [(ngModel)]="picker.r" class="input" min="0" max="255" step="1" type="range">
                        </p>
                    </div>
                </div>
                <div class="control is-horizontal">
                    <div class="control-label">
                        <label class="label">Green {{picker.g}}</label>
                    </div>
                    <div class="control is-grouped">
                        <p class="control is-expanded">
                            <input (change)="colorChange()" [(ngModel)]="picker.g" class="input" min="0" max="255" step="1" type="range">
                        </p>
                    </div>
                </div>
                <div class="control is-horizontal">
                    <div class="control-label">
                        <label class="label">Blue {{picker.b}}</label>
                    </div>
                    <div class="control is-grouped">
                        <p class="control is-expanded">
                            <input (change)="colorChange()" [(ngModel)]="picker.b" class="input" min="0" max="255" step="1" type="range">
                        </p>
                    </div>
                </div>
                <table class="table">
                    <tr *ngFor="let part of parts; let i = index" (click)="editPart(i)">
                        <ng-container *ngIf="part.selected === true || part.base === true">
                            <td>{{part.name}}</td>
                            <td [ngClass]="{'part-editing': partEditIndex === i}">{{partEditIndex}}</td>
                            <td class="has-text-right">
                                <a *ngIf="!part.base" (click)="part.selected = false">
                                    <span class="icon"><i class="fa fa-remove"></i></span>
                                </a>
                            </td>
                        </ng-container>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <button (click)="onClickSubmit()" type="button" class="button is-primary">Save Changes</button>
</section>
<div ngFileDrop [options]="options" (onUpload)="handleUpload($event)" [ngClass]="{'file-over': hasBaseDropZoneOver}" (onFileOver)="fileOverBase($event)"
    (beforeUpload)="beforeUpload($event)">
</div>