<bloodrush-my-team-nav></bloodrush-my-team-nav>
<section *ngIf="acc.loggedInAccount.team" class="section">
    <div class="container">
        <h1 class="title">Team</h1>
        <div class="columns">
            <div class="column">
                <hr>
                <label class="label">Logo</label>
                <p class="control">
                    <input type="file" ngFileSelect [options]="options" (onUpload)="handleUpload($event)" (beforeUpload)="beforeUpload($event)">
                </p>
                <img class="image is-128x128" src="{{imgUrl}}/teamlogos/{{team._id}}.png?a={{rndCache}}" onError="this.src='/assets/img/logo.png';">
                <h3 class="title">Team Details</h3>
                <label class="label">Acronym</label>
                <p class="control has-icon has-icon-right">
                    <input [(ngModel)]="acc.loggedInAccount.team.acronym" class="input" type="text" placeholder="e.g. ADEL" maxlength="4">
                </p>
                <label class="label">Name</label>
                <p class="control has-icon has-icon-right">
                    <input [(ngModel)]="acc.loggedInAccount.team.name" class="input" type="text" placeholder="enter a team name"
                        maxlength="20">
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h4 class="title">Players</h4>
        <div class="columns">
            <div class="column">
                <canvas #playerPreviewCanvas class="player-preview"></canvas>
            </div>
            <div class="column is-two-thirds">
                <div #colorPreview class="picker-color"></div>
                <div class="control is-horizontal">
                    <div class="control-label">
                        <label class="label">Red {{picker.r}}</label>
                    </div>
                    <div class="control is-grouped">
                        <p class="control is-expanded">
                            <input (change)="colorChange()" [(ngModel)]="picker.r" class="input" min="0" max="255" step="1" type="range">
                        </p>
                    </div>
                </div>
                <div class="control is-horizontal">
                    <div class="control-label">
                        <label class="label">Green {{picker.g}}</label>
                    </div>
                    <div class="control is-grouped">
                        <p class="control is-expanded">
                            <input (change)="colorChange()" [(ngModel)]="picker.g" class="input" min="0" max="255" step="1" type="range">
                        </p>
                    </div>
                </div>
                <div class="control is-horizontal">
                    <div class="control-label">
                        <label class="label">Blue {{picker.b}}</label>
                    </div>
                    <div class="control is-grouped">
                        <p class="control is-expanded">
                            <input (change)="colorChange()" [(ngModel)]="picker.b" class="input" min="0" max="255" step="1" type="range">
                        </p>
                    </div>
                </div>
                <table *ngIf="team" class="table">
                    <ng-container *ngFor="let part of team.style; let i = index">
                    <tr *ngIf="!part.hidden">
                        <td (click)="editPart(i)">{{part.name}} show: {{part.hidden}}</td>
                        <td [ngClass]="{'part-editing': partEditIndex === i}">{{part.color.r}}, {{part.color.g}}, {{part.color.b}}</td>
                        <td (click)="selectPart(i)" class="has-text-right">
                            <a *ngIf="!part.base">
                                <span *ngIf="part.selected" class="icon"><i class="fa fa-remove is-success"></i></span>
                                <span *ngIf="!part.selected" class="icon"><i class="fa fa-plus"></i></span>
                            </a>
                        </td>
                    </tr>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
    <button (click)="updateCanvas()" type="button" class="button is-primary">Update Preview</button>
    <button (click)="onClickSubmit()" type="button" class="button is-primary">Save Changes</button>
</section>
<div ngFileDrop [options]="options" (onUpload)="handleUpload($event)" [ngClass]="{'file-over': hasBaseDropZoneOver}" (onFileOver)="fileOverBase($event)"
    (beforeUpload)="beforeUpload($event)">
</div>