<section *ngIf="players" class="section">
    <div class="container">
        <h3 class="title">Players</h3>
        <hr>
        <div class="columns">
            <div class="column">
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>ATK</th>
                            <th>DEF</th>
                            <th>SPD</th>
                            <th>KG</th>
                            <th>REC</th>
                            <th>STY</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let player of players">
                            <td>{{player.first}} {{player.last}}</td>
                            <td>{{player.atk}}</td>
                            <td>{{player.def}}</td>
                            <td>{{player.spd}}</td>
                            <td>{{player.kg}}</td>
                            <td>{{player.rec}}</td>
                            <td>{{player.sty}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>