<div class="columns">
    <form [formGroup]="form" (ngSubmit)="onClickSubmit(form)">
        <div>
            <div class="twelve columns">
                <h3>Login</h3>
                Username
                <input formControlName="username" class="u-full-width" type="text"> Password
                <input formControlName="password" class="u-full-width" type="password">
            </div>
        </div>
        <button class="button-primary" type="submit" [disabled]="!form.valid">Login</button>
    </form>
</div>