<section *ngIf="gamesToday" class="section">
    <div class="container">
        <h3 class="title">Recent &amp; Upcoming Games</h3>
        <hr>
        <div class="columns">
            <div *ngIf="gamesToday[0]" class="column is-one-quarter">
                <div class="card custom-card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{gamesToday[0].date | date:['MMM d']}}
                        </p>
                        <a class="card-header-icon" routerLink="/seasons/{{season.number}}/0">
                            <span class="icon">
                                <i class="fa fa-search"></i>
                            </span>
                        </a>
                    </header>
                    <div class="card-content">
                        Home: {{teams[gamesToday[0].homeId] ? teams[gamesToday[0].homeId].name : 'Bye'}}
                        <br> Away: {{teams[gamesToday[0].awayId] ? teams[gamesToday[0].awayId].name : 'Bye'}}
                        <br> Round #{{gamesToday[0].round}}
                        <div class="content">
                            <small>{{gamesToday[0].date | date:'MMM d'}}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="gamesToday[1]" class="column is-one-quarter">
                <div class="card custom-card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{gamesToday[1].date | date:['MMM d']}}
                        </p>
                        <a class="card-header-icon" routerLink="/seasons/{{season.number}}/1">
                            <span class="icon">
                                <i class="fa fa-search"></i>
                            </span>
                        </a>
                    </header>
                    <div class="card-content">
                        Home: {{teams[gamesToday[1].homeId] ? teams[gamesToday[1].homeId].name : 'Bye'}}
                        <br> Away: {{teams[gamesToday[1].awayId] ? teams[gamesToday[1].awayId].name : 'Bye'}}
                        <br> Round #{{gamesToday[1].round}}
                        <div class="content">
                            <small>{{gamesToday[1].date | date:'MMM d'}}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="gamesToday[2]" class="column is-one-quarter">
                <div class="card custom-card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{gamesToday[2].date | date:['MMM d']}}
                        </p>
                        <a class="card-header-icon" routerLink="/seasons/{{season.number}}/2">
                            <span class="icon">
                                <i class="fa fa-search"></i>
                            </span>
                        </a>
                    </header>
                    <div class="card-content">
                        Home: {{teams[gamesToday[2].homeId] ? teams[gamesToday[2].homeId].name : 'Bye'}}
                        <br> Away: {{teams[gamesToday[2].awayId] ? teams[gamesToday[2].awayId].name : 'Bye'}}
                        <br> Round #{{gamesToday[2].round}}
                        <div class="content">
                            <small>{{gamesToday[2].date | date:'MMM d'}}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="gamesToday[3]" class="column is-one-quarter see-more" routerLink="/seasons">
                <div class="card custom-card">
                    <header class="card-header">
                        <p class="card-header-title">
                            See More
                        </p>
                    </header>
                    <div class="card-content has-text-centered">
                        <span class="icon is-large">
                                <i class="fa fa-plus-square-o"></i>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>