<nav class="nav">
  <div class="nav-left">
    <a routerLink="/home" class="nav-item">
      <img src="assets/img/logowithtext.png" alt="Bloodrush">
      <span class="tag is-warning is-large">Beta v{{config.versionNumber}}</span>
    </a>
  </div>

  <!--Mobile hamber toggle menu-->
  <span class="nav-toggle" (click)="showMobileNav = !showMobileNav">
    <span></span>
  <span></span>
  <span></span>
  </span>
  <!--Nav links-->
  <div class="nav-right nav-menu" [ngClass]="{'is-active': showMobileNav}">
    <a *ngIf="acc.team" routerLink="/home/team" class="nav-item">
      {{acc.team.name}}
    </a>
    <a routerLink="/leagues" class="nav-item">
      Leagues
    </a>
    <a *ngIf="acc.seasonId" routerLink="/seasons/{{acc.seasonId}}" class="nav-item">
      Season
    </a>
    <a routerLink="/market" class="nav-item">
      Market
    </a>
    <!--Nav buttons-->
    <span *ngIf="acc.user" class="nav-item">
      <a class="button" >
        <span class="icon">
          <i class="fa fa-user-circle"></i>
        </span>
    <span>{{acc.user.username}}</span>
    </a>
    <a (click)="this.router.navigate(['/logout'])" class="button is-primary">
      <span class="icon">
            <i class="fa fa-sign-out"></i>
          </span>
      <span>Logout</span>
    </a>
    </span>
    <span *ngIf="!acc.user" class="nav-item">
      <a (click)="this.router.navigate(['/login'])" class="button">
        <span class="icon">
            <i class="fa fa-sign-in"></i>
          </span>
    <span>Login</span>
    </a>
    <a (click)="this.router.navigate(['/signup'])" class="button is-primary">
      <span class="icon">
            <i class="fa fa-user-plus"></i>
          </span>
      <span>Signup</span>
    </a>
    </span>
  </div>
</nav>
<router-outlet></router-outlet>