<nav class="nav">
  <div class="nav-left">
    <a class="nav-item" >
      <img src="assets/img/logowithtext.png" alt="Bloodrush">
    </a>
  </div>

  <!--Mobile hamber toggle menu-->
  <span class="nav-toggle" (click)="showMobileNav = !showMobileNav">
    <span></span>
  <span></span>
  <span></span>
  </span>
  <!--Mobile navigation-->
  <div class="nav-right nav-menu" [ngClass]="{'is-active': showMobileNav}">
    <a class="nav-item">
      Home
    </a>
    <a class="nav-item">
      Documentation
    </a>
    <a class="nav-item">
      Blog
    </a>
    <!--Non-mobile navigation-->
    <span *ngIf="acc.loggedInAccount.username" class="nav-item">
      <a class="button" >
        <span class="icon">
          <i class="fa fa-user-circle"></i>
        </span>
      <span>{{acc.loggedInAccount.username}}</span>
      </a>
      <a (click)="this.router.navigate(['/logout'])" class="button is-primary">
        <span class="icon">
            <i class="fa fa-sign-out"></i>
          </span>
        <span>Logout</span>
      </a>
    </span>
    <span *ngIf="!acc.loggedInAccount.username" class="nav-item">
      <a (click)="this.router.navigate(['/signup'])" class="button is-primary">
        <span class="icon">
            <i class="fa fa-sign-in"></i>
          </span>
        <span>Signup</span>
      </a>
    </span>
  </div>
</nav>
<router-outlet></router-outlet>