<section class="section">
    <div class="container">
        <h1 class="title is-1">Version History</h1>
        <div class="columns">
            <div class="column is-12">
                <h1 class="title is-3">2.0.4
                    <div style="display: inline-block;" [innerHtml]="versionHistory['2.0.4']?.tag"></div>
                </h1>
                <p [innerHtml]="versionHistory['2.0.4'].desc"></p>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <h1 class="title is-3">2.0.3
                    <div style="display: inline-block;" [innerHtml]="versionHistory['2.0.3']?.tag"></div>
                </h1>
                <p [innerHtml]="versionHistory['2.0.3'].desc"></p>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <h1 class="title is-3">2.0.2
                    <div style="display: inline-block;" [innerHtml]="versionHistory['2.0.2']?.tag"></div>
                </h1>
                <p [innerHtml]="versionHistory['2.0.2'].desc"></p>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <h1 class="title is-3">2.0.1
                    <div style="display: inline-block;" [innerHtml]="versionHistory['2.0.1']?.tag"></div>
                </h1>
                <p [innerHtml]="versionHistory['2.0.1'].desc"></p>
            </div>
        </div>
        <div class="columns">
            <div class="column is-12">
                <h1 class="title is-3">2.0.0</h1>
                <p [innerHtml]="versionHistory['2.0.0'].desc"></p>
            </div>
        </div>
    </div>
</section>