<div class="container" *ngIf="season">
    <div *ngIf="acc.loggedInAccount._id" class="row">
        <div class="four columns">
            <h3>Stats</h3>
            <b>Wins:</b> {{teamWins}}
            <br>
            <b>Losses:</b> {{teamLosses}}
            <br>
            <b>W/L Ratio:</b> {{teamWins / teamLosses}}
            <br>
            <b>Games Played:</b> {{teamWins + teamLosses}}
            <br>
        </div>
        <div class="eight columns">
            <h3>Recent &amp; Upcoming Games</h3>
            <div class="game-container">
                <a *ngFor="let game of season.games; let i = index" (click)="viewGame(i)" class="button home-game">
                    <div *ngIf="game.home && game.away" class="team-name">
                        <b>{{game.home.name}}</b>
                        <br>
                        <b>{{game.away.name}}</b>
                    </div>
                    <br> {{game.date | date:'MMM d'}}
                    <br> Round #{{game.round}}
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="acc.loggedInAccount._id" class="row">
        <div class="twelve columns">
            <h3>Team</h3>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>ATK</th>
                        <th>DEF</th>
                        <th>SPD</th>
                        <th>KG</th>
                        <th>REC</th>
                        <th>STY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of myTeam.players">
                        <td>{{player.first}} {{player.last}}</td>
                        <td>{{player.atk}}</td>
                        <td>{{player.def}}</td>
                        <td>{{player.spd}}</td>
                        <td>{{player.kg}}</td>
                        <td>{{player.rec}}</td>
                        <td>{{player.sty}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>w
    <div class="row">
        <div class="twelve columns">
            <h3>Ladder</h3>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Name</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>W/L Ratio</th>
                        <th>Games Played</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let team of teams; let i = index" (click)="this.router.navigate(['/team/' + team._id])" style="cursor: pointer;">
<th>{{i + 1}}</th>
<td>{{team.acronym}}</td>
<td>{{team.name}}</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>