.game-container {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: calc(100px + 2em);
    white-space: nowrap;

    .home-game {
        height: 100px;
        width: 170px;
        background: #f2f2f2;
        padding: 0.5em;
        margin: 0.5em;
        display: inline-block;
        vertical-align:top;
        line-height: 110%;
        text-align: left;
        overflow: initial;
        white-space: initial;
        font-weight: normal;

        .team-name {
            height: 2em;
        }
    }
}