<div class="container">
    <div class="row">
        <div class="four columns">
            <h3>Stats</h3>
            <b>Wins:</b> {{teamWins}}
            <br>
            <b>Losses:</b> {{teamLosses}}
            <br>
            <b>W/L Ratio:</b> {{teamWins / teamLosses}}
            <br>
            <b>Games Played:</b> {{teamWins + teamLosses}}
            <br>
        </div>
        <div class="eight columns">
            <h3>Recent &amp; Upcoming Games</h3>
            <div class="dragscroll game-container">
                <a *ngFor="let game of games" (click)="viewGame(game.id)" class="button home-game">
                    <div class="team-name">
                        <b>{{game.team}}</b>
                    </div>
                    <br> @ {{game.venue}}
                    <br> {{game.time | date:'medium'}}
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <h3>Team</h3>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>ATK</th>
                        <th>DEF</th>
                        <th>PTS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Caleb Froese</td>
                        <td>52</td>
                        <td>20</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Craig Bobrovski</td>
                        <td>52</td>
                        <td>23</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td>Johnn Chef</td>
                        <td>22</td>
                        <td>47</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Caleb Froese</td>
                        <td>52</td>
                        <td>20</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Craig Bobrovski</td>
                        <td>52</td>
                        <td>23</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td>Johnn Chef</td>
                        <td>22</td>
                        <td>47</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>