<div class="container">
    <div class="row">
        <div class="four columns">
            <h3>Stats</h3>
            <b>Wins:</b> {{teamWins}}
            <br>
            <b>Losses:</b> {{teamLosses}}
            <br>
            <b>W/L Ratio:</b> {{teamWins / teamLosses}}
            <br>
            <b>Games Played:</b> {{teamWins + teamLosses}}
            <br>
        </div>
        <div class="eight columns">
            <h3>Recent &amp; Upcoming Games</h3>
            <div class="game-container">
                <a *ngFor="let game of games; let i = index" (click)="viewGame(i)" class="button home-game">
                    <div *ngIf="game[0] && game[1]" class="team-name">
                        <b>{{game[0].name}}</b>
                        <br>
                        <b>{{game[1].name}}</b>
                    </div>
                    <br> {{game[2] | date:'MMM d'}}
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <h3>Ladder</h3>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Name</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>W/L Ratio</th>
                        <th>Games Played</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let team of teams; let i = index" (click)="this.router.navigate(['/team/' + team._id])" style="cursor: pointer;">
                        <th>{{i + 1}}</th>
                        <td>{{team.acronym}}</td>
                        <td>{{team.name}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <h3>Team</h3>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>ATK</th>
                        <th>DEF</th>
                        <th>PTS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Caleb Froese</td>
                        <td>52</td>
                        <td>20</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Craig Bobrovski</td>
                        <td>52</td>
                        <td>23</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td>Johnn Chef</td>
                        <td>22</td>
                        <td>47</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Caleb Froese</td>
                        <td>52</td>
                        <td>20</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Craig Bobrovski</td>
                        <td>52</td>
                        <td>23</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td>Johnn Chef</td>
                        <td>22</td>
                        <td>47</td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>